.second-row {
    display: flex;
    padding: 8px 10px;
    height: 45px;
    justify-content: space-between;
}


.second-row .col {
        width: 32%;
        background-color: white;
        display: flex;
        align-items: center;
        border-radius: 3px;
    }


.second-row .col input {
            width: 100%;
            height: 100%;
        }

 .second-row .col select {
            cursor: pointer;
            width: 100%;
            height: 100%;
        }

.second-row .first-col {
        border-left: solid #007fad 7px;
    }
    
 .second-row .second-col {
        border-left: solid #f48f00 7px;
    }
