<div class="second-row">

    <div class="col first-col">
        <i class="fa fa-calendar"></i>
        <input id="check-in-date" placeholder="Check-In" />
    </div>

    <div class="col second-col">
        <i class="fa fa-calendar"></i>
        <input id="check-out-date" placeholder="Check-Out" />

    </div>

    <div class="col">
        <i class="fa fa-users"></i>
        <select>
            <option>Single</option>
            <option>Double</option>
            <option>Family Rooms</option>
        </select>

    </div>
</div>